/* styles.css or your main CSS file */
@keyframes rotate {
  /* 0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  } */
}

.logo {
  /* animation: rotate 2s linear infinite; Adjust the duration as needed */
  width: 150px;
  height: 150px;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000; /* Ensures it appears above other content */
}

.mini-map-container {
  display: flex;
  gap: 2px;
}